div{
    height:100px;
    width:100px;
    background-color: aqua;
    border:1px solid black;
}
.static{
 
}
.translated{
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    transform:rotateZ(30deg);
    transform:perspective(350px) scale(2) rotateY(30deg) rotateX(45deg);
    
}