#box{
    border:1px solid black;
    height:200px;
    width:150px;
    background-image: linear-gradient(yellow,orange);
    background-image: linear-gradient(to right,yellow,orange);
    background-image: linear-gradient(to left,yellow,orange);
    background-image: linear-gradient(to bottom,yellow,orange,red);
    background-image: linear-gradient(60deg,yellow,orange);

    background-image: linear-gradient(to right ,rgb(185, 185, 49,0),rgb(212, 148, 29,1));
    background-image: linear-gradient(orange,white,green);

}
.mbox{
    border:1px solid black;
    margin:10px;
    height:200px;
    width:200px;
    background-image: radial-gradient(circle,yellow,orange,red);
    background-image: radial-gradient(yellow 5%,orange 10%,red 50%);
}